$background-color: #f9f9f9;
$color-light-blue:rgb(227, 239, 247);
$color-blue: #2c87c5;
$color-dark-blue: #185883;
$color-white: #ffffff;
$color-black: #000;
$color-grey: #f9f9f9;
$color-dark-grey: #ccc;
$color-red: #bd1a1a;